/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


/*  scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #969494; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 68, 68); 
}