/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
  background-color: grey;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}