.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: rgb(17, 48, 59);
}

.main-menu-section {
    display: flex;
    align-items: center;
}

.main-menu-item {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-top: rgb(10, 170, 90) solid 4px;
    /* border-bottom: rgb(10, 170, 90) solid 2px; */
}

/* .main-menu-item+.main-menu-item {
    margin-left: 5px;
} */

.main-menu-button {
    cursor: pointer;
    color: #D9E9EF;
}

.main-menu-button:hover {
    color: #FFFFFF;
    background-color:rgb(10, 170, 90);
    /* border-top: rgb(17, 48, 59) 3px solid; */
    /* border-radius: 4px; */
    /* border-bottom: springgreen solid 4px; */
}