.tag {
    border-bottom: 1px solid var(--primary-color);
    color: white;
    /* padding: 1em 0.8em; */
    height: var(--nav-bar-height);
    text-overflow: ellipsis;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.8rem;

    cursor: pointer;
}

.tag:nth-child(even) {
    background-color: var(--primary-color-shade-two);
}

.tag:nth-child(odd) {
    background-color: var(--primary-color-shade-three);
}

.tag:hover {
    background-color: var(--primary-hover-color);
    color: var(--secondary-font-color);
}

.tag-content {
    flex: 2;
    height: var(--nav-bar-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    /* text-overflow: clip; */
    /* white-space: nowrap; */
}

.tag-name {
    /* max-width: 10em; */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete-tag,
.download-tag {
    flex: 1;
    height: 100%;
    color: var(--primary-font-color);
    font-size: 1.5rem;
    /* min-width: 4rem; */
}

.download-tag {
    background-color: var(--primary-button);
}

.delete-tag {
    background-color: var(--danger-button);
}

/* Mobile */
@media screen and (max-width: 1000px) {
    .snippet {
        font-size: 0.85rem;
    }
}
