.usermenu{

    grid-area: um;

    display: flex;
    flex-direction: column;

    background-color: var(--primary-color)
}

.usermenu-item{
    height: 3.8em;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    border: 0;

}

.all{
    display: flex;
    align-items: center;
    padding: 0;
}

.view-all{
    flex:2;
    padding: 0 0.4em;
}

.download-all{
    flex: 1;
    height: 100%;
}