<div class="snippet-list-bar">
  <div class="snippet-list">
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
    <div class="snippet-list-item">Snippet-01</div>
  </div>
</div>