.snippet-list-bar{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(34, 36, 36);
    /* padding-top: 15px; */
    overflow-y: auto;
}

/* .snippet-list-bar::-webkit-scrollbar {
    display: none;
} */

.snippet-list-item{
    cursor: pointer;
    padding: 13px 20px;
    color: white;
    text-align: center;
    overflow-wrap: anywhere;
}

.snippet-list-item:nth-child(even){
    background-color:rgb(28, 27, 29);
}

.snippet-list-item:hover{
    background-color: rgb(171, 235, 192);
    color: black;
}