.tag-editor{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: -100%;

    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: right 130ms ease-out;
}

.tag-checklist{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.active{
    right: 0;
}
.tag-editor-action-item{
    font-size: 2em;
    padding: 0.3em;
}