<div class="code-main-container">
  <div class="code-info">
    <div *ngIf="snippet" class="code-info-item code-title">
      {{ snippet.filename }}
    </div>
    <div *ngIf="snippet" class="code-info-item owner-name">
      {{ snippet.owner }}
    </div>
  </div>
  <div class="code">
    <!-- google prettify -->
    <pre class="prettyprint code-pre">
      {{ snippet.code }}
    </pre>

    <!-- highlight.js -->
    <!-- <pre>
      <code>
        {{ snippet.code }}
      </code>
    </pre> -->
  </div>
</div>