<div class="code-main-container">
  <div class="code-info">
    <div *ngIf="snippet" class="code-info-item code-title">
      {{ snippet.filename }}
    </div>
    <div *ngIf="snippet" class="code-info-item username">
      {{ snippet.username }}
    </div>
    <div *ngIf="snippet" class="code-info-item download" (click)="editTags(snippet.id, snippet.tags)">
      Edit Tags
    </div>
    <div *ngIf="snippet" class="code-info-item download" (click)="downloadGist(snippet.id)">
      Download
    </div>
  </div>
  <div *ngIf="snippet" class="code">
    <!-- google prettify -->
    <!-- {{ snippet.code }} -->
    <pre class="prettyprint code-pre">
      {{ snippet.code }}
    </pre>

    <!-- highlight.js -->
    <!-- <pre>
      <code>
        {{ snippet.code }}
      </code>
    </pre> -->
  </div>
</div>