.snippet {
    border-bottom: 1px solid var(--primary-color);
    color: white;
    padding: 1em 0.8em;
    word-wrap: break-word;
    height: var(--nav-bar-height);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.snippet:nth-child(even) {
    background-color: var(--primary-color-shade-two);
}

.snippet:nth-child(odd) {
    background-color: var(--primary-color-shade-three);
}

.snippet:hover {
    background-color: var(--primary-hover-color);
    color: var(--secondary-font-color);
}

/* Mobile */
@media screen and (max-width: 1000px) {
    .snippet {
        font-size: 0.85rem;
    }
}
