.tag-list-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* border-right: 1px solid #D7DBDD; */
    background-color: rgb(14, 12, 12);
    overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */

/* .tag-list-bar::-webkit-scrollbar {
    display: none;
} */



.tag-special-item, .tag-list-item {
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(51, 238, 135);
    /* font-size: 15px; */
}

.tag-special {
    margin-bottom: 10px;
    border-bottom: 3px solid rgb(49, 49, 49);
    justify-content: center;
}

.tag-special-item{
    border-left: springgreen 3px solid;
}

.tag-special-item:hover, .tag-list-item:hover {
    background-color: rgb(171, 235, 192);
    color: black;
    /* font-size: 15px; */
}

.button {
    background-color: rgb(8, 128, 62);
    border: none;
    color: white;
    padding: 5px 15px;
    margin: 0 1px;
}

.button:hover {
    background-color: rgb(150, 51, 5);
}